<div class="container">
  <div class="card">
    <h5 class="card-header info-color white-text text-center py-4">
      <strong>Identificarse</strong>
    </h5>
    <div class="card-body">
      <!-- Default form login -->
      <form #loginForm="ngForm" class="text-center border border-light p-5">
        <!-- Email -->
        <input type="email" id="defaultLoginFormEmail" name="email" class="form-control mb-4"
          [(ngModel)]="usuarioService.signInForm.email" placeholder="E-mail">

        <!-- Password -->
        <input type="password" id="defaultLoginFormPassword" name="password" class="form-control mb-4"
          [(ngModel)]="usuarioService.signInForm.password" placeholder="Password">

        <div class="d-flex justify-content-around">
          <div>
            <!-- Remember me -->
            <mdb-checkbox [default]="true">Rucuerdame</mdb-checkbox>
          </div>
          <div>
            <!-- Forgot password -->
            <a [routerLink]="['/reset-password']">¿Olvidó su contraseña?</a>
          </div>
        </div>

        <!-- Sign in button -->
        <button (click)="signIn(loginForm)" mdbBtn color="info" class="my-4" type="submit">Identificarse</button>

        <!-- Register -->
        <p>¿No tiene cuenta?
          <a [routerLink]="['/register']">Registrese</a>
        </p>        
      </form>
    </div>
  </div>
</div>