<div class="container">
    <div class="row">
        <div class="col-md-4 mt-1">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row">Nombre:</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Apellido:</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">E-mail:</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">Admin:</th>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>