<!-- Footer -->
<footer class="bg-dark text-center text-white fixed-bottom">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Link</a>
              </li>
            </ul>
          </div>
  
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Link</a>
              </li>
            </ul>
          </div>
  
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Link</a>
              </li>
            </ul>
          </div>
  
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Link</a>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
  
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <section class="mb-4">
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-twitter"></i
            ></a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-google"></i
            ></a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-instagram"></i
            ></a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-linkedin-in"></i
            ></a>
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
              ><i class="fab fa-github"></i
            ></a>
          </section>
    </div>
  </footer>
