<div *ngIf="!paidFor">
<section>
    <div class="spacer">
      <div class="container">
        <div class="row mt-5">
          <div class="col-lg-9">
            <div class="row shop-listing">
              <h1>Su carrito de la compra</h1>
              <table class="table shop-table" *ngIf="articulos">
                <tr>
                  <th class="b-0">Nombre</th>
                  <th class="b-0">Precio</th>
                  <th class="b-0">Cantidad</th>
                  <!-- <th class="b-0 text-right">Precio total</th> -->
                </tr>
                <tr *ngFor="let articuloCarrito of articulos">
                  <td>{{ articuloCarrito.articulo.nombre }}</td>
                  <td>{{ articuloCarrito.articulo.precio }}</td>
                  <td>
                    <button class="btn btn-primary btn-sm" style="background-color: #3b5998;" (click)="aumentarCantidad(articuloCarrito, 1)">+</button>
                    {{ articuloCarrito.quantity }}
                    <button class="btn btn-primary btn-sm" style="background-color: #3b5998;" (click)="aumentarCantidad(articuloCarrito, -1)">-</button>
                  </td>
                </tr>
                <tr>
                  <td colspan="3" align="right">Subtotal :{{ total }}</td>
                  <td colspan="4" align="right">
                    <button class="btn btn-danger" style="background-color: #3b5998;" (click)="vaciarCarrito()">Empty Cart</button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div> 

<div class="pagado" *ngIf=paidFor>
  <h5>Gracias por su compra</h5>
  <img src="https://media1.tenor.com/images/b8d489b921769ee6a12d6024b47a2ba0/tenor.gif?itemid=15364442">
  <div #paypal></div>
</div>

<div class="paypal" #paypal></div>