.login,
.reset-password,
.user-info,
.register,
.productos,
._id {
    position: absolute;
    display: block;
    bottom: 0px;
    left: 0px;
    section {
        display: inline-block;
        a {
            height: 60px;
            width: 60px;
            display: table-cell;
            vertical-align: middle;
            text-align: center; 
            &,
            &:hover,
            &:active {
                text-decoration: none;
            }
        }
    }
}
footer{
   
    bottom: 0px;
}
section {
        text-align: center;
        vertical-align: middle;

        display: inline-block;
        a {
            height: 60px;
            width: 60px;
            display: table-cell;
            &,
            &:hover,
            &:active {
                text-decoration: none;
            }
        }
    
}



