<!-- Footer -->
<footer class="container-fluid w-100 bg-dark text-light" [ngClass]="footer">
    <!-- Grid container -->
    <div class="container text-center ">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
  
          <div class="col-lg-3 col-md-6 mt-5 mb-md-0">  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Inicio</a>
              </li>
            </ul>
          </div>
  
          <div class="col-lg-3 col-md-6 mt-5 mb-md-0">
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">SiteMap</a>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
    
    <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.2);">
      <section class="mb-2 mt-2">
           
            <a class="btn btn-outline-light btn-floating m-1" title="David Sedeño" href="https://www.linkedin.com/in/david-winze/" role="button"
              ><i class="fab fa-linkedin-in"></i
            ></a>
            <a class="btn btn-outline-light btn-floating m-1" title="Dionisio Fernández" href="https://www.linkedin.com/in/dionisio-fernandez-ortiz/" role="button"
              ><i class="fab fa-linkedin-in"></i
            ></a>
            <a class="btn btn-outline-light btn-floating m-1" title="FrontEnd" href="https://github.com/LurkerAnt/tienda_tfg_front" role="button"
              ><i class="fab fa-github"></i
            ></a>
            <a class="btn btn-outline-light btn-floating m-1" title="BackEnd" href="https://github.com/LurkerAnt/tfg_tienda_back" role="button"
              ><i class="fab fa-github"></i
            ></a>
          </section>
    </div>
  </footer>
