.login,
.reset-password,
.user-info,
.register,
.productos,
.carrito,
.lista-usuarios,
.lista-articulos,
._id {
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-align: center;

    section {
        display: inline-block;

        a {
            height: 60px;
            width: 60px;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            &,
            &:hover,
            &:active {
                text-decoration: none;
            }
        }
    }
}
footer {
    text-align: center;
    bottom: 0px;
}
#linkContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
#circlesContainer {
    display: inline-block;
    justify-content: center;
    align-items: center;

    div {
        position: relative;
        align-self: flex-start;
    }
    #links {
        margin: bottom top auto;
        vertical-align: middle;
        display: inline-block;
        text-align: center;
    }
    a {
        height: 60px;
        width: 60px;
        display: table-cell;
        &,
        &:hover,
        &:active {
            text-decoration: none;
        }
    }
}
