<mdb-card *ngFor="let articulo of articuloService.articulos">
    <!--Card image-->
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light"[routerLink]="['/admin/listaArticulos']">
        <img src={{articulo.url}} class="img-fluid" />
        <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        </a>
    </div>
    <!--Card content-->
    <mdb-card-body>

        <!--Title-->
        <mdb-card-title>
            <h4>{{articulo.nombre}}</h4>
        </mdb-card-title>

        <div class="row">
            <div class="col-md-6">
                <div><strong>Tipo:</strong> {{articulo?.tipo}}</div>
                <div><strong>Color:</strong> {{articulo?.color}}</div>
                <div><strong>Precio:</strong> ${{articulo?.precio}}</div>
            </div>
        </div>


        <a class="btn btn-primary" style="background-color: #3b5998;" href="#!" role="button">
            Mas Información
        </a>
        <a class="btn btn-primary" style="background-color: #3b5998;" href="#!" role="button">
            <i class="fas fa-cart-plus"></i>
        </a>
    </mdb-card-body>
</mdb-card>