<div class="container pt-5 pb-5">
  <div class="card">
    <h5 class="card-header info-color white-text text-center py-4">
      <strong>Cambiar Contraseña</strong>
    </h5>
    <div class="card-body">

      <section class="mb-5 text-center">
        <form action="#!">

          <div class="md-form md-outline">
            <input type="password" id="newPass" class="form-control">
            <label data-error="wrong" data-success="right" for="newPass">Nueva Contraseña</label>
          </div>

          <div class="md-form md-outline">
            <input type="password" id="newPassConfirm" class="form-control">
            <label data-error="wrong" data-success="right" for="newPassConfirm">Confirmar Contraseña</label>
          </div>

          <button type="submit" class="btn btn-primary mb-4">Cambiar Contraseña</button>

        </form>

        <div class="d-flex justify-content-between align-items-center mb-2">

          <u><a [routerLink]="['/login']">Identificarse</a></u>

          <u><a [routerLink]="['/register']">Nuevo Usuario</a></u>

        </div>

      </section>
    </div>
  </div>
</div>