<div class="container">
    <div class="card">
        <h5 class="card-header info-color white-text text-center py-4">
            <strong>Registrarse</strong>
        </h5>

        <!--Card content-->
        <div class="card-body pt-0">

            <!-- Form -->
            <form #signUpForm="ngForm" class="text-center" style="color: #757575;">

                <div class="form-row pt-3 pb-3">
                    <div class="col">
                        <mdb-form-control>
                            <input mdbInput type="text" id="materialRegisterFormFirstName" class="form-control"
                                name="nombre" [(ngModel)]="usuarioService.signUpForm.nombre" />
                            <label mdbLabel class="form-label" for="materialRegisterFormFirstName">Nombre</label>
                        </mdb-form-control>
                    </div>
                    <div class="col">
                        <mdb-form-control>
                            <input mdbInput type="text" id="materialRegisterFormLastName" class="form-control"
                                name="nombre" [(ngModel)]="usuarioService.signUpForm.apellido" />
                            <label mdbLabel class="form-label" for="materialRegisterFormLastName">Nombre</label>
                        </mdb-form-control>
                    </div>
                </div>

                <mdb-form-control>
                    <input mdbInput type="email" id="materialRegisterFormEmail" class="form-control" name="email"
                        [(ngModel)]="usuarioService.signUpForm.email" />
                    <label mdbLabel class="form-label" for="materialRegisterFormEmail">E-mail</label>
                </mdb-form-control>
                <br>
                <mdb-form-control>
                    <input mdbInput type="password" id="materialRegisterFormPassword" class="form-control"
                        name="password" [(ngModel)]="usuarioService.signUpForm.password" />
                    <label mdbLabel class="form-label" for="materialRegisterFormPassword">Password</label>
                </mdb-form-control>

                <label mdbLabel class="form-label" id="labelFechaNacimiento" for="materialRegisterFormPhone">Fecha de nacimiento</label>
                <mdb-form-control>
                    <input mdbInput type="date" id="materialRegisterFormPhone" class="form-control" name="fecha"
                        [(ngModel)]="usuarioService.signUpForm.fecha" />
                </mdb-form-control>

                <!-- Sign up button -->
                <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit"
                    (click)="signUp(signUpForm)">Registrarse</button>
            </form>
        </div>
    </div>
</div>