<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark ">
    <!-- Container wrapper -->
    <div class="container-fluid">

        <!-- Navbar brand -->
        <a class="navbar-brand" href="#">La tienda chachi</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a [routerLink]="['/articulos']" class="nav-link" href="#">Productos</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/admin/listaArticulos']" class="nav-link" href="#">Modificar Productos</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="['/admin/listaArticulos']" class="nav-link" href="#">Modificar Productos</a>
            </li>
            <li class="nav-item">
            </li>
        </ul>

        <ul class="navbar-nav d-flex flex-row me-1">
            <li class="nav-item me-3 me-lg-0 ">
                <a class="nav-link" [routerLink]="['/carrito']"><i class="fas fa-shopping-cart"></i></a>
            </li>
            <li class="nav-item me-3 me-lg-0 pl-1">
                <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-outline-light btn-floating" id="dropdownBasic1" ngbDropdownToggle><i class="fas fa-user"></i></button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <a ngbDropdownItem [routerLink]="['/login']" >Log In</a>
                        <button ngbDropdownItem [routerLink]="['/register']">Register</button>
                        <button ngbDropdownItem>Something else is here</button>
                    </div>
                </div>
                <a [routerLink]="['/login']" class="nav-link" href="#"></a>
            </li>
        </ul>

    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->